.header {
    &-main {
        background: $white;
        padding: 27px 40px;
        position: relative;
        transition: 0.3s all;

        &.fixed {
            right: 10%;
        }
    }

    &-right-part {
        right: 10%;
    }

    &-logo img {
        width: 140px;
    }

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: $white;
        transition: 0.3s all;
        z-index: 9999
    }

    &-social--link ul {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }

    &-social--link li {
        margin: 0px 7px
    }

    &-single--title {
        position: relative;
        margin-left: 50px
    }

    &-single--title:before {
        content: "|";
        position: absolute;
        left: -25px;
        color: $border;
        font-size: 12px;
        top: 50%;
        @include translate(0, -50%);
    }

    &-single--title p {
        font-size: 16px;
        color: $secondary-text;
    }

    &-left-part {
        position: absolute;
        top: 50%;
        left: 30px;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        @include translate(0, -50%);
    }

    &-right-part {
        position: absolute;
        top: 50%;
        right: 30px;
        @include translate(0, -50%);
    }
}

.header-category {
    margin-left: 40px;

    p {
        text-transform: uppercase;
        color: #003B5C;
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.5px;

        span {
            color: #C3C3C3;
            text-transform: lowercase;
            font-weight: 500;
        }
    }
}