// Colors
$secondary: #E74832;

// Text color
$primary-text: #003B5C;
$secondary-text: #5D534F;
$light-text: #C3C3C3;

// Accessory color
$border: #E5DBD1;
$white: #ffffff;


// Media
$sm: 767.98px;
$md: 999.98px;
$lg: 1100.98px;